.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.counter {
    text-align: center;

    strong {
        display: block;
        font-size: 32px;
        margin-bottom: 32px;
        color: #333;
    }
}

.buttonGroup {
    display: flex;
    gap: 16px;
    justify-content: center;
}
